/* background-color: #14237d;
background-image: linear-gradient(43deg, #14237d 0%, #18c98a 46%, #ffcc70 100%); */

/* Farver
  BG - #251534
  BTN - #ff00ac
*/

/* Metode 1 */
.hero {
  background-color: #251534;
  background-size: cover;
  background-position: 50% 100%;
  background-image: url(../img/ship.jpg);
  background-blend-mode: overlay;
}

/* Metode 2 */
.hero {
  background-color: #251534;
  background-size: cover;
  background-position: 50% 100%;
  background-image: linear-gradient(hsl(0 0% 0% / 50%), hsl(0 0% 0% / 50%)),
    url(../img/ship.jpg);
}

/* Optimeret kode m. blend */
.hero {
  --hero-img: url(../img/ship.jpg);
  --hero-bg: #251534;
  --hero-btn: #f97e72;

  background: var(--hero-bg) 50% 100% / cover;
  background-image: var(--hero-img);
  background-blend-mode: overlay;
}

.hero-btn {
  background: var(--hero-btn);
}
